<app-header></app-header>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <button class="btn btn-sm btn-sm" (click)="goTOEtudiantAff()">

                    <i class="fas fa-plus-circle"></i> ShowEtudiant
                </button>
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">FirsName</th>
                            <th scope="col">LastName</th>
                            <th scope="col" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let etudiant of EtudianList; let i = index">
                            <ng-container *ngIf="!etudiant.editing; else editRow">
                                <td>{{ etudiant.firstName }}</td>
                                <td>{{ etudiant.lastName }}</td>

                            </ng-container>

                            <ng-template #editRow>


                            </ng-template>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
