<mat-card class="qa-card">
  <mat-card-content>
    <form [formGroup]="qaForm" (ngSubmit)="onSubmit()" class="qa-form">
      <mat-form-field appearance="fill" class="qa-form-field">
        <mat-label>Question</mat-label>
        <input matInput formControlName="question" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="qa-form-field">
        <mat-label>Difficulté</mat-label>
        <mat-select formControlName="difficulty">
          <mat-option value="easy">Facile</mat-option>
          <mat-option value="medium">Moyen</mat-option>
          <mat-option value="hard">Difficile</mat-option>
        </mat-select>
      </mat-form-field>

      <div formArrayName="response" class="qa-form-field"> <!-- Correction ici -->
        <div *ngFor="let res of response.controls; let i=index" class="response-item"> <!-- Correction ici -->
          <label for="response-{{i}}">Réponse {{i + 1}}:</label>
          <input id="response-{{i}}" type="text" [formControlName]="i">
          <button type="button" (click)="removeResponse(i)">Supprimer</button>
        </div>
      </div>
    
      <button type="button" (click)="addResponse()" class="add-response-button">
        <mat-icon>add</mat-icon>
        Ajouter une réponse
      </button>

      <mat-form-field appearance="fill" class="qa-form-field">
        <mat-label>Score</mat-label>
        <input matInput type="number" formControlName="score" required>
      </mat-form-field>
    
      <button mat-raised-button color="primary" type="submit" class="submit-button">
        <mat-icon>add</mat-icon> Ajouter
      </button>
    </form>
  </mat-card-content>
</mat-card>
