<app-header></app-header>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3" *ngFor="let course of courses">
            <div class="card">
                <div class="image-container">
                    <div class="first">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="discount">{{ course.title }}</span>
                            <span class="wishlist"><i class="fa fa-heart-o"></i></span>
                        </div>
                    </div>
                    <img src="https://f.hellowork.com/blogdumoderateur/2023/01/conseils-cours-en-ligne-e-learning.jpeg" class="img-fluid rounded thumbnail-image">
                </div>
                <div class="product-detail-container p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="dress-name">{{ course.title }}</h5>
                        <div class="d-flex flex-column mb-2">
                            <span class="new-price">{{ course.level }}</span>
                            <small class="old-price text-right">{{ course.description }}</small>
                        </div>
                    </div>
                    <!-- Add button to redirect to modification form -->
                    <button  (click)="redirectToUpdateForm(course.idCourse)"><img src="https://img.freepik.com/premium-vector/update-label-baner-time-update-vector-stock-illustration_100456-10807.jpg" class="img-fluid rounded thumbnail-image" width="50" height="50">
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button  (click)="deleteCourse(course.idCourse)"><img src="https://cdn-icons-png.freepik.com/512/3687/3687412.png" class="img-fluid rounded thumbnail-image" width="40" height="50">
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button  (click)="redirectToContenu()"><img src="https://www.byfilling.com/hubfs/Content-4etapes.png#keepProtocol" class="img-fluid rounded thumbnail-image" width="40" height="50">
                    </button>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>

<br>
<br>
<br>

<app-footer></app-footer>
