
.center-container {
  display: flex;
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
  min-height: 100vh; /* Assurez-vous que le conteneur prend toute la hauteur de la fenêtre */
  margin: 0 auto; /* Réinitialise les marges par défaut du body */
}
.publication-card {
  width: 80%;
  max-width: 600px;
  margin: auto; /* Changez pour 'auto' pour centrer verticalement dans le conteneur flex */
  box-shadow: 0 10px 20px rgba(0,0,0,0.50), 0 6px 6px rgba(0,0,0,0.23); /* Ombre pour effet 3D */
  transition: transform 0.5s, box-shadow 0.5s; /* Transition douce pour l'effet au survol */
}

.publication-card:hover {
  transform: scale(1.05); /* Effet de zoom léger au survol */
  box-shadow: 0 30px 40px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.24); /* Ombre plus prononcée au survol */
}

/* Les autres styles restent inchangés */

.emoji-picker {
  cursor: default;}
 /* Dans add-publication.component.scss */

.emoji-palette {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border: 1px solid #ccc; /* Exemple de bordure */
  background-color: #f9f9f9; /* Couleur de fond */
cursor: pointer;}

.emoji-palette span {
  cursor: pointer;
  padding: 5px;
  font-size: 24px; /* Taille des emojis */
}
 
.full-width {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  
}
 /* styles.css ou styles.scss */
 .success-snackbar {
  background-color: #4CAF50; /* Vert */
  color: #fff; /* Texte blanc */
  display: flex;
  align-items: center;
}

.success-snackbar::before {
  content: '✔'; /* Icône de validation */
  font-size: 20px;
  margin-right: 12px;
}
/* Style de base pour le bouton */
button {
	color: rgb(114, 104, 104); /* Couleur du texte */
	padding: 100px 20px; /* Espacement interne */
	border: none; /* Pas de bordure */
	cursor: pointer; /* Change le curseur en pointeur */
	transition: background-color 0.3s ease, transform 0.3s ease; /* Transition pour le fond et la transformation */
	border-radius: 5px; /* Bordures arrondies */
  }
  


// Bouton Publier avec effet hover
.button-publish {
  background: #ff7029; /* Orange */
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  transition: right 0.2s ease-in-out, 
  background-color 0.2s ease-in-out;
  border: none;
  cursor: pointer;
  border-radius: 5px;

}
.button-publish:hover {
  right: 0px;
  background: #2fbfa7; /* Vert */
}
.publication-form {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Espacement entre les éléments du formulaire */
}

.content-field,
.content-type-field {
  width: 100%; /* Pleine largeur dans le conteneur */
}

.actions {
  display: flex;
  justify-content: center; /* Centrer le bouton */
  margin-top: 16px; /* Espacement au-dessus du bouton */
}
// Bouton Annuler avec effet hover
.button-cancel {
  background: #ff7029; /* Orange */
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  transition: right 0.2s ease-in-out, 
  background-color 0.2s ease-in-out;
  border: none;
  cursor: pointer;
  border-radius: 5px;


}

.button-cancel:hover {
  right: 0px;
  background: #ff7029; /* Orange */
}
  
.thumbnails-container {
  display: grid; /* Utilisez CSS Grid pour créer une grille */
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Définissez le nombre de colonnes et la largeur minimale/maximale de chaque colonne */
  gap: 10px; /* Espace entre chaque miniature */
  position: relative;
  overflow: hidden;}

.thumbnail {
  width: 100%; /* Les miniatures occupent toute la largeur de la colonne */
}

/* Ajoutez du style supplémentaire selon vos besoins */


.thumbnail img {
  width: 200px; /* Taille de la miniature d'image */
  height: 10; /* Taille de la miniature d'image */
 }

.thumbnail video {
  width: 200px; /* Largeur de la miniature de vidéo */
  height: auto; /* Hauteur automatique pour maintenir les proportions */
  margin: 5px;}

.video-container {
  display: flex;
  justify-content: center; /* Alignement horizontal au centre */
  align-items: center; /* Alignement vertical au centre */
}


.btn-remove-image{
  position: absolute;
  cursor: pointer;
  top: 1px;
 left: -4px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height:auto;
text-align: center;
}

.btn-remove-video{
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 4px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height:auto;
text-align: center;
}
.add-publication-card-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}