<app-header></app-header>
<br>
<br>
<br>
<br>
<div class="container-fluid">
    <div class="card" style="width: 50%; margin: 5px auto;">
        <div class="card-header">
            Add Content
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input  [(ngModel)]="Contenu.title" id="title" name="title" class="form-control" type="text">
                </div>

                <div class="form-group">
                    <label for="cours">Cours</label>
                    <div class="dropdown-with-indicator">
                      <select  [(ngModel)]="Contenu.course" name="cours" id="cours" class="form-control">
                        <option *ngFor="let course of courses" >{{ course.title }}</option>
                      </select>
                      <div class="dropdown-indicator">&#9660;</div>
                    </div>
                  </div>



                <div class="form-group">
                <label for="Contenu">Contenu:</label>
                <textarea  [(ngModel)]="Contenu.body" id="Contenu" name="Contenu" rows="5" cols="40" placeholder="Enter your Content here..."></textarea>
                </div>



              <button  (click)="saveStudent()" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
