<app-header></app-header>
<style>

  
    .form-group {
      margin-bottom: 15px;
    }

    .form-control {
      width: 100%;
      padding: 10px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }

    .password-strength {
      margin-top: 10px;
    }

    .password-strength .password-strength-bar {
      height: 5px;
      width: 0%;
      transition: width 0.3s ease;
    }

    .password-strength .password-strength-text {
      margin-top: 5px;
    }

    .very-weak { background-color: #ff3e36; }
    .weak { background-color: #ff691f; }
    .medium { background-color: #ffda36; }
    .strong { background-color: #0bcd56; }
    .very-strong { background-color: #0f9d58; }

    .btn-primary {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }

    .btn-primary:hover {
      background-color: #45a049;
    }

    .password-strength-meter {
      background-color: #ddd;
      height: 10px;
      width: 100%;
      margin-top: 10px;
    }
    </style>


<form (ngSubmit)="updatePassword()">
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="userEmail" disabled class="form-control">
  </div>



  <label for="password">Nouveau mot de passe:</label>
  <input type="password" id="password" name="password" [(ngModel)]="newPassword" (input)="onInputChange()" class="form-control">
  <div class="password-strength-meter">
    <div class="password-strength"
         [ngClass]="getStrengthClass(passwordStrength)"
         [style.width]="passwordStrength * 25 + '%'">
    </div>
  </div>
  <div class="password-strength-text">
    {{ getStrengthText(passwordStrength) }}
  </div>



  <div class="form-group">
    <label for="confirmPassword">Confirmer le mot de passe:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Mettre à jour le mot de passe</button>
</form>

<app-footer></app-footer>
