.card-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; // Aligns cards to the top
    padding: 20px;
    margin: 0 auto; // Centers the container
    max-width: 1200px; // Maximum width of the container
    background-color: #fff; // Card container background color
    border-radius: 8px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }
  
  .card {
    flex: 0 1 calc(33.333% - 20px); // Ensures equal width and spacing for 3 cards
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa; // Card background color
    padding: 16px;
    margin: 10px; // Spacing between cards
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  
    // Customizes the look of the ngx-charts
    ngx-charts-bar-vertical {
      width: 100%;
      height: 180px; // Fixed height for all charts
      margin-right: 20px;
      margin-top: -10px;
    }
    
    // This targets the chart text, adjust as needed
    .ngx-charts text {
      fill: #333;
      font-size: 12px;
    }
    
    // Styles for the title of each card
    .card-title {
      font-size: 1.2em;
      margin-bottom: 0.5em;
      color: #333;
    }
    
    // Styles for the chart container within the card to control its size
    .chart-container {
      width: 100%; // Use 100% of card's width
      height: 150px; // Fixed height for the chart
    }
  }
  