<mat-card>
  <mat-card-content>
    <form [formGroup]="gradeForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Valeur</mat-label>
        <input matInput formControlName="value" type="text" required>
        <mat-error *ngIf="gradeForm.get('value')?.errors?.['required']">
          La valeur est requise.
        </mat-error>
        <mat-error *ngIf="gradeForm.get('value')?.errors?.['pattern']">
          Format invalide.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Commentaire</mat-label>
        <textarea matInput formControlName="comment"></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        {{ isEditMode ? 'Mettre à jour' : 'Ajouter' }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
