<!-- bar-chart.component.html -->

<div class="card">
  <div class="card-header">
    Top Contributors
  </div>
  <div class="card-body">
    <ngx-charts-bar-vertical
      [view]="view"
      [scheme]="colorScheme"
      [results]="barChartData"
      [gradient]="barChartOptions.gradient"
      [xAxis]="barChartOptions.showXAxis"
      [yAxis]="barChartOptions.showYAxis"
      [legend]="barChartOptions.showLegend"
      [showXAxisLabel]="barChartOptions.showXAxisLabel"
      [xAxisLabel]="barChartOptions.xAxisLabel"
      [showYAxisLabel]="barChartOptions.showYAxisLabel"
      [yAxisLabel]="barChartOptions.yAxisLabel"
      (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </div>
</div>
