.dashboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  padding: 16px;
}

// Assurez-vous que les sélecteurs CSS correspondent aux classes de vos composants de cartes
.chart-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;

  .card-header {
    background-color: #f1f1f1;
    padding: 16px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #eeeeee;
  }

  .card-body {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .green-bar {
    fill: #5AA454;
  }
  
  .red-bar {
    fill: #E44D25;
  }
  
  .gray-bar {
    fill: #CFC0BB;
  }
  
  // Ajoutez d'autres classes pour les autres couleurs si nécessaire
  
}
